name: food_donation_app
description: A smart food donation platform with logistics, safety, gamification, analytics, and community modules.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.5.1
  image_picker: ^1.1.1
  intl: ^0.19.0
  http: ^1.1.0
  google_sign_in: ^6.1.5
  shared_preferences: ^2.2.2
  url_launcher: ^6.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.14.1

  flutter_lints: ^5.0.0
  
flutter_icons:
  android: true
  ios: true
  image_path: "assets/image.png"

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/

